.fullpage-main {
  display: grid;
  grid-auto-flow: row;
  row-gap: 50px;
}

.first-section {
  display: grid;
  grid-auto-flow: row;
  background-image: url(/images/bgimg2.svg);
  background-size: cover;
  row-gap: 30px;
  padding-bottom: 100px;
  padding-left: 70px;
}

.text-grp-one {
  display: grid;
  grid-auto-flow: row;
  padding-left: 20px;
  row-gap: 30px;
}

.text-grp-two {
  display: grid;
  grid-auto-flow: row;
  padding-left: 20px;
  max-width: 480px;
  row-gap: 40px;
}

.welcome-text {
  font-family: worksans, sans-serif;
  width: fit-content;
  border-top: 1px solid #89cff3;
  border-bottom: 1px solid #89cff3;
  line-height: 22px;
  font-size: 14px;
  font-weight: 500;
  color: #00a9ff;
}

.top-welcome-text {
  font-family: worksans, sans-serif;
  width: fit-content;
  border-top: 1px solid #89cff3;
  border-bottom: 1px solid #89cff3;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #00a9ff;
}

.fullstop-quote {
  color: #00a9ff;
}
.quote-text {
  font-family: robotoserif, serif;
  font-weight: 700;
  font-size: 64px;
  color: #333333;
}

.text-desc {
  font-family: worksans, sans-serif;
  display: grid;
  grid-auto-flow: row;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #777777;
  row-gap: 20px;
}

.touch-text {
  font-weight: 600;
  font-size: 14px;
  color: #00a9ff;
  font-family: worksans, sans-serif;
}

.getInTouch {
  justify-content: flex-start;
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-auto-flow: column;
}

.left-fourth {
  display: grid;
  grid-template-rows: auto;
  max-height: 528px;
  align-self: center;
  overflow-y: auto;
}

.touch-arrow {
  display: grid;
  padding: 2px;
}

.top-right {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}
.second-section {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
}
.second-section-top {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
}

.line-in-flow {
  width: 1px;
  height: 50px;
  background-color: #00a9ff;
  display: grid;
  justify-self: center;
  height: 200px;
}
.who-title {
  font-weight: 700;
  font-size: 40px;
  color: #333333;
  font-family: robotoserif, serif;
}

.first-card {
  display: grid;
  grid-auto-flow: row;
  width: 400px;
  height: 586px;
  padding: 25px;
  border: 1px solid #00a9ff;
  border-radius: 10px;
  background-color: white;
  transition: background-color 0.3s ease;
}

/* ON HOVER */

.first-card:hover,
.second-card:hover {
  background-color: #00a9ff;
  color: white;
}

/* for the paras and headings */

.first-card:hover p,
.second-card:hover p {
  color: white;
}

/* for the images */

.first-card:hover img,
.second-card:hover img {
  filter: brightness(0) invert(1);
}

.second-section-bottom {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  align-items: end;
  top: -18px;
  position: relative;
}

.second-section-bottom-full {
  display: grid;
  grid-auto-flow: row;
}

.card-defn {
  color: #777777;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.42px;
  font-family: worksans, sans-serif;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
  color: #333333;
  line-height: 22px;
  font-family: robotoserif, serif;
}

.card-desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #777777;
  font-family: worksans, sans-serif;
}

.second-card {
  display: grid;
  grid-auto-flow: row;
  height: 496px;
  width: 400px;
  padding: 25px;
  border: 1px solid #00a9ff;
  border-radius: 10px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.card-img {
  padding-bottom: 20px;
}

.third-section {
  display: grid;
  grid-auto-flow: column;
  padding: 40px 30px 40px 30px;
  background-color: #ecfaff;
  justify-content: space-evenly;
  align-items: baseline;
}

.flowchart-line {
  display: grid;
  width: 940px;
  height: 80px;
  border: 1px solid var(--Primary, #00a9ff);
  justify-self: center;
  border-bottom: none;
  border-radius: 5px;
  z-index: -2;
}

.third-left {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  width: 552px;
  height: 220px;
  align-items: center;
}

.third-right {
  display: grid;
  align-items: center;
}

.third-quote {
  font-weight: 700;
  font-size: 50px;
  color: #333333;
  font-family: robotoserif, serif;
}

.email-box {
  display: grid;
  grid-auto-flow: row;
  border: 1px solid #cbecfd;
  border-radius: 16px;
  padding: 20px;
  width: 688px;
  height: 360px;
  align-content: flex-start;
  row-gap: 40px;
  background-color: white;
  font-family: worksans, sans-serif;
  transition: box-shadow 0.5s ease;
  transition: transform 0.3s ease;
}

.email-box:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 1px 1px #00a9ff;
}

.linebtw {
  width: 1px;
  height: 20px;
  background-color: #aaaaaa;
}

.mail-section {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
  align-items: center;
  border: 1px solid #dddddd;
  justify-content: flex-start;
  padding: 5px;
  border-radius: 10px;
}

.mail-section input {
  border: none;
  outline: none;
  background: none;

  width: 270px;
  height: 24px;
}

.name-sub {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 10px;
}

.mail-section-msg {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
  align-items: center;
  border: 1px solid #dddddd;
  justify-content: flex-start;
  padding: 15px;
  border-radius: 10px;
  height: 80px;

  align-content: flex-end;
}

.mail-section-msg textarea {
  border: none;
  padding-bottom: 20px;
  background: none;
  outline: none;
  resize: none;
  width: 610px;
}

.getintouch-button {
  display: grid;
  justify-content: center;
  border: 1px solid #00a9ff;
  padding: 16px, 24px, 16px, 24px;
  height: 48px;
  border-radius: 10px;
}

.getintouch-button button {
  border: none;
  outline: none;
  background-color: white;
  width: 645px;
  cursor: pointer;
  font-family: worksans, sans-serif;
  border-radius: 10px;
  color: #00a9ff;
}

.mail-section-msg input {
  width: 615px;
  height: 55px;
}

.fourth-section {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  height: 719px;
}

.right-fourth {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
  width: 464px;
  height: 780px;
  text-align: center;
  justify-items: center;
}

.frequent-text {
  width: fit-content;
  border-top: 1px solid #89cff3;
  border-bottom: 1px solid #89cff3;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #00a9ff;
  font-family: worksans, sans-serif;
}

.accordion {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: #ddd;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  background-color: white;
  padding: 0 10px;
}

.media-only-img {
  display: none;
}

@media only screen and (max-width: 600px) {
  .fullpage-main {
    width: device-width;
  }

  .first-section {
    background-image: none;
    background-color: #e9f6fd;
    grid-auto-flow: row;
    padding: 00px;
    row-gap: 10px;
  }

  .second-section {
    grid-auto-flow: row;
  }

  .second-section-top {
    display: grid;
    grid-auto-flow: row;
  }

  .second-section-bottom {
    display: grid;
    grid-auto-flow: row;
  }

  .media-only-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .media-only-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flowchart-line {
    display: none;
  }
  .third-section {
    grid-auto-flow: row;
  }

  .fourth-section {
    width: vw;
    grid-auto-flow: row;
    height: auto;
    grid-template-areas: "section2", "section1";
    row-gap: 30px;
  }

  .left-fourth {
    grid-area: "section1";
    order: 2;
  }
  .right-fourth {
    grid-area: "section2";
    order: 1;
  }
}
