.tos-page {
  display: grid;
  justify-content: center;
}

.tos-full {
  display: grid;
  grid-auto-flow: row;
  padding: 00px 50px 00px 50px;
  row-gap: 25px;
}

.home-nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 10px;
  font-weight: 500;
  font-size: 14px;
}

.terms-cond {
  color: #777777;
}

.home-link {
  color: #00a9ff;
}

.tos-desc {
  display: grid;
  grid-auto-flow: column;
  column-gap: 60px;
  margin-bottom: 20px;
}
.tos-left {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
}
.grid-tos {
  display: grid;
  grid-auto-flow: row;
  border: 1px solid #cbecfd;

  width: 620px;
  height: 180px;
  padding: 24px;
  gap: 16px;
  border-radius: 10px;
}

.tos-title {
  font-weight: 700;
  font-size: 40px;

  color: #333333;
}

.grid-title {
  font-weight: 600;
  font-size: 20px;
  color: #333333;
}

.grid-desc {
  color: #777777;
}

.greater-than {
  color: #777777;
}

@media screen and (max-width: 768px) {
  .tos-title {
    font-weight: 700;

    font-size: 32px;

    line-height: 37.47px;
  }

  .tos-desc {
    grid-auto-flow: row;
    height: auto;
    justify-content: center;
    row-gap: 30px;
  }
  .grid-tos {
    height: auto;
    width: auto;
  }

  .tos-left {
    height: auto;
  }
  .grid-desc {
    height: auto;
    width: auto;
  }
}
